body {
    width: 80%;
    margin: auto;
}

.header-hero {
    background-image: url("atom.jpeg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    margin-top: 20px;
    font-size: large;
}


.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    padding: 2%;
    list-style-type: none;
    font-size: larger;
}

.nav-item {
    text-decoration: none;
    border-right: solid whitesmoke;
    padding-right: 5%;
}

.nav-item:last-child {
    border: none;
}

.nav-item a {
    text-decoration: none;
    color: black;
}

main {
    display: flex;
    margin-bottom: 3%;
}

.left-div {
    flex: 1;
}

.left-div h2 {
    margin-left: 20%;
}

.right-div {
    flex: 3;
    margin-left: 10px;
}

.in-right-div {
    display: flex;
}

.sub-article {
    border-right: solid aqua;
    padding: 2%;
}

.sub-article:last-child {
    border: none;
}

.btn {
    padding: 1% 1.5%;
}

footer {
    text-align: center;
    margin-top: 3%;
}