body {
    width: 80%;
    margin: auto;
}

.header-hero {
    background-image: url("atom.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    margin-top: 20px;
    font-size: large;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
    padding: 2%;
    list-style-type: none;
    font-size: larger;
}

.nav-item {
    text-decoration: none;
    border-right: solid whitesmoke;
    padding-right: 5%;
}

.nav-item:last-child {
    border: none;
}


